// _variables.scss
$color-wingspan: #FF5733; // Replace with your desired color value
$color-first: #FFD700; // Gold, or any color you prefer for first place
$color-second: #C0C0C0; // Silver
$color-third: #CD7F32; // Bronze
$color-wingspan: #FF5733; // Custom color


// Define night mode colors
$color-night: #111111;  // Background color for night mode
$color-night-a: #ffffff;  // Link color in night mode
$color-night-success: #28a745;  // Success background color for night mode

// Define other color variables if needed
$gray-100: #f8f9fa;  // Light gray color for table text in night mode
$color-wingspan: #FF5733; // Replace with your desired color value
